# Python virtual environment
.venv/

# Local cloned repositories
LightGlue/

# PDFs (travel docs etc.)
*.pdf
*.jpg

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Folders
map_tiles/
